---
import { getCollection } from "astro:content";
import { emailHash } from "site";
import Layout from "layouts/Page.astro";
import Socials from "components/Socials.astro";
import Hr from "components/Hr.astro";
import { getPosts } from "util/posts";
import CardGrid from "components/CardGrid.astro";

const projects = (
  await getCollection("projects", ({ data }) => Boolean(data.featured))
).sort((a, b) => Number(a.data.featured) - Number(b.data.featured));

const posts = await getPosts({ onlyFeatured: true });

const copy = {
  h1: ["Hi!", "I'm Game"],
  intro: [
    `A software engineer, product owner, and a father, with over a decade of
     experience of building products and leading teams.`,
    `Over the years I've worked with various companies, from small startups to
     large corporations, which exposed me to a variety of solutions and tech
     stacks.`,
  ],
  projects: "Notable Projects",
  posts: "Recent Posts",
};
---

<Layout>
  <section>
    <div class="mb-16 flex items-center gap-16">
      <img
        class="h-28 w-28 rounded-full sm:h-48 sm:w-48"
        src=`https://www.gravatar.com/avatar/${emailHash()}?s=400`
        alt="Ahmad Game"
      />
      <h1 class="text-4xl font-bold sm:text-5xl">
        <span class="accent-text">{copy.h1[0]}</span>
        <br />
        <span>{copy.h1[1]}</span>
      </h1>
    </div>
    {copy.intro.map((p) => <p>{p}</p>)}
    <Socials />
  </section>

  <Hr />

  {
    projects.length > 0 && (
      <>
        <CardGrid items={projects} title={copy.projects} />
        <Hr />
      </>
    )
  }

  {
    posts.length > 0 && (
      <>
        <CardGrid items={posts} title={copy.posts} />
        <Hr />
      </>
    )
  }
</Layout>
