---
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
type Props = {
  items: CollectionEntry<"posts" | "projects">[];
  title: string;
};

const { items, title } = Astro.props;
if (items.length === 0) return;

const urlPrefix = items[0].collection;
---

<section>
  <h2 class="mb-3 text-center text-3xl font-bold">{title}</h2>
  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
    {
      items.map(({ slug, data: { title, description, ...rest } }) => {
        const image = "image" in rest ? rest.image : undefined;
        const date = "pubDate" in rest ? rest.pubDate : undefined;
        return (
          <Card
            cover={image && { image, alt: title }}
            link={{
              href: `${urlPrefix}/${slug}`,
              ariaLabel: `Read more about ${title}`,
            }}
          >
            <h3
              class="mb-2 text-xl font-semibold text-primary dark:text-primary-light"
              transition:name={slug}
            >
              {title}
            </h3>
            {date && (
              <i class="text-sm">
                {date.toLocaleDateString([], {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </i>
            )}
            <p class="line-clamp-5">{description}</p>
          </Card>
        );
      })
    }
  </div>
</section>
